<!-- Array leer -->
<div *ngIf="leer">
  <div class="d-flex justify-content-center">
    <div class="alert alert-warning">
      <p>Es sind noch keine Todos vorhanden. Trage jetzt ein neues ein</p>
    </div>
  </div>
</div>

<!-- Array befüllt -->
<div *ngIf="!leer">
  <div class="form-group pull-right" *ngIf="searchEnabled">
    <div class="md-form">
      <i class="fa fa-search prefix grey-text"></i>
      <input [(ngModel)]="searchString" type="text" id="searchForm" class="form-control" mdbActive>
      <label for="searchForm">Suchen</label>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Fertig</th>
        <th>ID</th>
        <th>Todo</th>
        <th>Fällig am</th>
        <th>Kategorie</th>
        <th>Priorität</th>
        <th *ngIf="delEnabled">Löschen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todoItem of todos | todoFilter: searchString | todoListOrdering">
        <td (click)="toggle(todoItem)">
          <i *ngIf="todoItem.done" class="fa fa-check fa-2x" aria-hidden="true"></i>
        </td>
        <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.id}}</td>
        <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.label}}</td>
        <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.dueDate | date:'dd.MM.yyyy' }}</td>
        <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.category.label}}</td>
        <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.priority.label}}</td>
        <td *ngIf="delEnabled">
          <button (click)="delete(todoItem.id)" class="btn btn-danger">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-todo-statistics></app-todo-statistics>