<div class="form-horizontal">
  <fieldset>

    <!-- Header -->
    <legend>Einstellungen</legend>

    <!-- Suchfeld anzeigen -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="searchField">Suche anzeigen</label>
      <div class="material-switch">
        <input id="deleteSearchSwitch" type="checkbox" (click)="toggleSearchField()" [checked]="searchEnabled" />
        <label for="deleteSearchSwitch" class="btn-success"></label>
      </div>
    </div>

    <!-- Löschbar -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="deleteButton">Todos löschbar</label>
      <div class="material-switch">
        <input id="deleteButtonToggleSwitch" type="checkbox" (click)="toggleDelete()" [checked]="delEnabled" />
        <label for="deleteButtonToggleSwitch" class="btn-success"></label>
      </div>
    </div>

    <!-- Fertige Todos unten anzeigen -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="checkedTodos">Fertige Todos unten anzeigen</label>
      <div class="material-switch">
        <input id="checkedTodosToggleSwitch" type="checkbox" (click)="toggleTodoOrdering()" [checked]="todoOrderingEnabled" />
        <label for="checkedTodosToggleSwitch" class="btn-success"></label>
      </div>
    </div>

  </fieldset>
  <fieldset>

    <!-- Form Name -->
    <legend>Aktionen</legend>

    <!-- Beispieldaten Laden -->
    <div class="form-group">
      <div class="col-md-4">
        <button id="loadData" name="loadData" class="btn btn-primary" (click)="loadExampleData()">Beispieltodos laden</button>
      </div>
    </div>

    <!-- Alles löschen -->
    <div class="form-group">
      <div class="col-md-4">
        <button id="clearTodos" name="clearTodos" class="btn btn-danger" (click)="deleteAll()">Alle Todos löschen</button>
      </div>
    </div>

    <!-- Todos Exportieren -->
    <div class="form-group">
      <div class="col-md-4">
        <button id="exportTodos" name="exportTodos" class="btn btn-primary" (click)="exportData()">Todos Exportieren</button>
      </div>
    </div>

  </fieldset>

  <hr>

  <!-- Footer -->
  <footer>
    <p>This App is &copy; Copyright 2017 by
      <a href="https://www.unbekannt3.eu" target="_blank">unbekannt3.eu</a> -
      <i class="fa fa-code"></i> is available on my GitLab:
      <a href="https://gitlab.com/unbekannt3/TodoApp" target="_blank">https://gitlab.com/unbekannt3/TodoApp</a>
    </p>
    <p>Version:
      <a href="https://gitlab.com/unbekannt3/TodoApp/tags/{{ getVersion }}" target="_blank">{{ getVersion }}</a>
    </p>
  </footer>
</div>