<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark amber accent-4 scrolling-navbar" [containerInside]="true">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" [routerLink]="['/todos']">
      <strong>TodoApp</strong>
    </a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/todos']">
          <i class="fa fa-bars" aria-hidden="true"></i> Todos</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/add']">
          <i class="fa fa-plus" aria-hidden="true"></i> Hinzufügen</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/settings']">
          <i class="fa fa-cog" aria-hidden="true"></i> Einstellungen</a>
      </li>
    </ul>
    <!-- Links -->
    <!-- Status -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" (click)="sync()" mdbTooltip="Synchronisieren" placement="bottom" alt="Synchronisieren">
          <i [class]="syncIconStatus ? 'fa fa-refresh fa-spin fa-fw' : 'fa fa-refresh'"></i>
        </a>
      </li>
    </ul>
    <!-- Status -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->