.fa-flash-red:before,
.fa-bolt:before {
  content: "\f0e7";
  color: red;
}

.fa-circle-o-red:before {
    content: "\f10c";
    color: red;
}

.fa-exclamation-red:before {
    content: "\f12a";
    color: red;
}