/* Global Styles */
// Alway Visible y Scrollbar
html {
  overflow-y: scroll; 
}
body { 
    padding-top: 75px; 
}

// Loading Spinner
$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(240, 240, 240);
    text-decoration-color: white;
    z-index: -1;
}
/* .loading sichtbar solange app-root leer ist */
/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */
app-root:empty + .loading {
    opacity: 1;
    z-index: 100;
}